{% extends "base.html.twig" %}

{% block description %}Vaildez votre panier avant de procéder au paiement.{% endblock %}

{% block title %}validation panier{% endblock %}

{# {% block breadcrump %} / <a href="{{ path('cart') }}">Panier</a> / Validation{% endblock %} #}

{% block h1 %}Validation{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-12 ">
			<h2>Récapitulatif du panier</h2>
			<table class="table table-hover align-middle">
				<thead class="table-dark  align-middle">
					<tr>
						<th>NOM</th>
						<th class="text-center">QTÉ</th>
						<th class="text-end">SOUS-TOTAL</th>
					</tr>
				</thead>
				<tbody>
					{% for line in cart %}
						<tr>
							<td><img src="{{ asset('/assets/uploads/products/mini/300x300-' ~ line.product.image[0].name )}} " alt="image principale {{ line.product.name }}">{{" " ~ line.product.name }}</td>
							<td class="text-center">{{ line.quantity }}</td>
							{% if line.product.reduction > 0 %}
							<td class="text-end">{{ (line.product.priceSold * line.quantity)|number_format(2, ',', ' ') }} €</td>
							{% else %}
							<td class="text-center">{{ (line.product.price * line.quantity)|number_format(2, ',', ' ') }} €</td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr class="table-dark text-end">
						<th colspan="2">TOTAL :</th>
						<th>{{ total|number_format(2, ',', ' ') }} €</th>
					</tr>
				</tfoot>
			</table>
			
		</div>
	</div>	

    <div class="col-12">
        <div class="row">
			<div class="col-12 text-center">
				<h2 class="my-5">Livraison</h2>
			</div>
		</div>
		
        {{ form_start(cartValidationInfoForm) }}
		<div class="row">
			<div class="col-6">
				{{ form_label(cartValidationInfoForm.first_name, 'Prénom') }}
				{{ form_errors(cartValidationInfoForm.first_name) }}
				{{ form_widget(cartValidationInfoForm.first_name, {
				'attr': {
				'placeholder': 'Ex.: John'
				}
				}) }}
				{{ form_help(cartValidationInfoForm.first_name) }}
			</div>
			<div class="col-6">
				{{ form_label(cartValidationInfoForm.last_name, 'Nom') }}
				{{ form_errors(cartValidationInfoForm.last_name) }}
				{{ form_widget(cartValidationInfoForm.last_name, {
				'attr': {
				'placeholder': 'Ex.: Doe'
				}
				}) }}
				{{ form_help(cartValidationInfoForm.last_name) }}
			</div>
			<div class="col-6">
				{{ form_row(cartValidationInfoForm.email, {
				'label': 'Email',
				'attr': {
				'placeholder': 'johndoe@gmail.fr'
				}
				}) }}
			</div>
			<div class="col-6">
				{{ form_row(cartValidationInfoForm.phone, {
				'label': 'Numéro de téléphone',
				'attr': {
				'placeholder': ''
				}
				}) }}
			</div>

			<div class="col-6">
				{{ form_row(cartValidationInfoForm.address , {
				'label': 'Adresse',
				'attr': {
				'placeholder': 'Ex: 2 Rue du Général Leclerc'
				}
				}) }} 
			</div>
			<div class="col-6">
				{{ form_row(cartValidationInfoForm.additional , {	
				'label': 'Complémentaire',
				'attr': {
					'novalidate': 'novalidate',
					'placeholder': ''
				}
				}) }}
			</div>

			<div class="col-6">
				{{ form_row(cartValidationInfoForm.zip , {
				'label': 'Code postale',
				'attr': {
				'placeholder': 'Ex: 75001'
				}
				}) }}

			</div>

			<div class="col-6">
				{{ form_row(cartValidationInfoForm.city , {
				'label': 'Ville',
				'attr': {
				'placeholder': 'Ex: Paris'
				}
				}) }}
			</div>

			<div class="col-7">
				{{ form_row(cartValidationInfoForm.country , {
				'label': 'Pays',
				'attr': {
				'placeholder': '--- Selectionné ---'
				}
				}) }}
			</div> 

			<div class="col-12">
				{{ form_row(cartValidationInfoForm.carrier, {
                'label': 'Transporteur'
            }) }}
			</div> 
		</div>
	
	
			<div class="row">
				<div class="col-12 text-end my-3">
					<a href="{{ path('admin_users')}}" class="buttonred text-decoration-none me-3">Annuler</a>
					<button class="buttonb text-decoration-none">Valider
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

	{{ form_end(cartValidationInfoForm) }}
    

{% endblock %}

{% block javascripts %}

<script> src="{{ asset('/js/app.js') }}"</script>

{% endblock %}