{% extends "base.html.twig" %}

{% block description %}Vaildez votre panier avant de procéder au paiement.{% endblock %}

{% block title %}validation panier{% endblock %}

{% block breadcrump %} / <a href="{{ path('cart') }}">Panier</a> / Validation{% endblock %}

{% block h1 %}Validation{% endblock %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-12 ">
			<h2>Récapitulatif du panier</h2>
			<table class="table table-hover align-middle">
				<thead class="table-dark  align-middle">
					<tr>
						<th>NOM</th>
						<th class="text-center">QTÉ</th>
						<th class="text-end">SOUS-TOTAL</th>
					</tr>
				</thead>
				<tbody>
					{% for line in cart %}
						<tr>
							<td><img src="{{ asset('assets/uploads/products/mini/300x300-' ~ line.product.image[4].name )}} " alt="image principale {{ line.product.name }}">{{" " ~ line.product.name }}</td>
							<td class="text-center">{{ line.quantity }}</td>
							{% if line.product.reduction > 0 %}
							<td class="text-end">{{ (line.product.priceSold * line.quantity)|number_format(2, ',', ' ') }} €</td>
							{% else %}
							<td class="text-center">{{ (line.product.price * line.quantity)|number_format(2, ',', ' ') }} €</td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr class="table-dark text-end">
						<th colspan="2">TOTAL :</th>
						<th>{{ total|number_format(2, ',', ' ') }} €</th>
					</tr>
				</tfoot>
			</table>
			
		</div>
	</div>	


    <div class="col-12">
        <div class="row">
			<div class="col-12 text-center">
				<h2 class="my-5">Livraison</h2>
			</div>
		</div> 
        {{ form_start(cartValidationForm) }}
            {{ form_row(cartValidationForm.billing_address, {
                'label': 'Adresse de facturation'
            }) }}
            {{ form_row(cartValidationForm.delivery_address, {
                'label': 'Adresse de livraison'
            }) }}
            {{ form_row(cartValidationForm.carrier, {
                'label': 'Transporteur'
            }) }}
			{{ form_row(cartValidationForm.payment, {
                'label': 'Mode de Paiement'
            }) }}
        <div class="col-12">    
            <div class="row text-end m-5">
                <div class="col-12">
                    <button type="submit" class="buttonb text-decoration-none">Payer</button>
                </div>
				{# <div class="col-12" >
					<button type="submit" name="paypal" value="paypal" class="btn btn-outline-success">PayPal</button> 
                
                </div> #}
            </div>
        </div>    
        {{ form_end(cartValidationForm) }}
    </div>
</div>    

{% endblock %}