{% extends "Admin/baseAdmin.html.twig" %}

{% block title %}
{{ app.request.attributes.get('_route') == 'admin_user_create' ? 'création' : 'modification' }}
utilisateur
{% endblock %}

{% block body %}
<h1 class="mb-5 text-center">{{ app.request.attributes.get('_route') == 'admin_user_create' ? 'Création' : 'Modification' }} d'un
	utilisateur</h1>
{{ form_start(userForm) }}

<div class="row">
	<div class="col-6">
		{{ form_label(userForm.first_name, 'Prénom') }}
		{{ form_errors(userForm.first_name) }}
		{{ form_widget(userForm.first_name, {
		'attr': {
		'placeholder': 'Ex.: John'
		}
		}) }}
		{{ form_help(userForm.first_name) }}
	</div>
	<div class="col-6">
		{{ form_label(userForm.last_name, 'Nom') }}
		{{ form_errors(userForm.last_name) }}
		{{ form_widget(userForm.last_name, {
		'attr': {
		'placeholder': 'Ex.: Doe'
		}
		}) }}
		{{ form_help(userForm.last_name) }}
	</div>

	<div class="col-3">
		{{ form_row(userForm.roles, {
		'label': 'Roles',
		'attr': {
		'class': 'form-choice-label'

		}

		}) }}
	</div>

	<div class="col-3">
		{{ form_row(userForm.email, {
		'label': 'Email',
		'attr': {
		'placeholder': 'johndoe@gmail.fr'
		}
		}) }}
	</div>
	<div class="col-6">
		{{ form_row(userForm.phone, {
		'label': 'Numéro de téléphone',
		'attr': {
		'placeholder': ''
		}
		}) }}
	</div>
	<div class="col-4">
		{{ form_row(userForm.password.first, {
		'label': 'Mot de passe',
		'attr': {
		'placeholder': ''
		}
		}) }}
	</div>
	<div class="col-4">
		{{ form_row(userForm.password.second, {
		'label': 'Répétez le mot de passe',
		'attr': {
		'placeholder': ''
		}
		}) }}
	</div>



	{% for address in userForm.addresses %}

	<div class="col-3">
		{{ form_row(address.address , {
		'label': 'Adresse',
		'attr': {
		'placeholder': 'Ex: 2 Rue du Général Leclerc'
		}
		}) }}
	</div>

	<div class="col-3">
		{{ form_row(address.additional , {
		'label': 'Adresse complémentaire',
		'attr': {
		'placeholder': ''
		}
		}) }}
	</div>

	<div class="col-3">
		{{ form_row(address.zip , {
		'label': 'Code postale',
		'attr': {
		'placeholder': 'Ex: 75001'
		}
		}) }}

	</div>

	<div class="col-3">
		{{ form_row(address.city , {
		'label': 'Ville',
		'attr': {
		'placeholder': 'Ex: Paris'
		}
		}) }}
	</div>

	<div class="col-3">
		{{ form_row(address.country , {
		'label': 'Pays',
		'attr': {
		'placeholder': '--- Selectionné ---'
		}
		}) }}
	</div>

	{% endfor %}

	<div class="col-3">
		{{ form_row(userForm.isVerified, {
		'label': 'Compte verifié',
		'attr': {
		'placeholder': ''
		}
		}) }}</div>
	<div class="row">
		<div class="col-12 text-end my-3">
			<a href="{{ path('admin_users')}}" class="btn btn-outline-danger me-3">Annuler</a>
			<button class="btn btn-outline-success">{{ app.request.attributes.get('_route') == 'admin_user_create' ? 'Créer' :
				'Modifier' }}
			</button>
		</div>
	</div>
</div>
{{ form_end(userForm) }}
{% endblock %}