{% extends 'Admin/baseAdmin.html.twig' %}

{% block title %}Information de {{ user.lastName}}{% endblock %}

{% block body %}

    <h1 class="pb-5 text-center">Information de {{ user.lastName }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ address.address }}<br /> {{ address.additional }}<br />
                    {{ address.zip}} - {{ address.city }} - {{ address.country }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user.roles|join(', ', ' et ')  }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Compte vérifier</th>
                <td>{{ user.isVerified }}</td>
            </tr>
            

        </tbody>
    </table>

    <div class="row">
		<div class="col-12 text-end my-3">
			<a href="{{ path('admin_users') }}" class="btn btn-outline-danger me-3">Retourner à l'accueil</a>
			<a href="{{ path('admin_user_update', {'id': user.id}) }}" class="btn btn-outline-success me-3">Modifier</a>
		</div>
	</div>


{% endblock %}
