{% extends 'Admin/baseAdmin.html.twig' %}

{% block title %}liste d'Utilisateurs
{% endblock %}

{% block body %}
<h1 class="pb-5 text-center">liste d'Utilisateurs</h1>


<table class="table table-hover table-sm text-center align-middle text-center">
	<thead class="table-dark">
		<tr>
			<th>Id</th>
			<th>Prénom</th>
			<th>Nom</th>
			<th>Email</th>
			<th>Roles</th>
			<th>Téléphone</th>
			<th>Date de création</th>
			<th>Verifié</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>


		{% for user in users|reverse %}

		<tr>
			<td>{{loop.revindex }}</td>
			<td>{{ user.firstName }}</td>
			<td>{{ user.lastName }}</td>
			<td>{{ user.email }}</td>
			<td>
				{% for role in user.roles %}
				{% if role == "ROLE_USER" %}
				Utilisateur
				{% elseif role == "ROLE_ADMIN" %}
				Administrateur

				{% elseif role == "ROLE_SUPER_ADMIN" %}
				Super Administrateur


				{% endif %}
				{% endfor %}
			</td>
			<td>{{ user.phone }}</td>
			<td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			<td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
			<td>
				<a href="{{ path('admin_user_show', {'id' : user.id}) }}"><i class="bi bi-eye text-black-50"></i></a>
				<a href="{{ path('admin_user_update', {'id': user.id}) }}">
					<i class="bi bi-pencil-square text-primary"></i>
				</a>
				<a href="{{ path('admin_user_delete', {'id': user.id}) }}"  onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur?') || event.preventDefault()">
					<i class="bi bi-trash3 text-danger"></i>
				</a>

			</td>
		</tr>
		{% else %}
		<tr>
			<td colspan="10">Pas d'Utilisateurs trouvé</td>
		</tr>

		{% endfor %}


	</tbody>

</table>

<div class="text-end mt-4">
	<a href="{{ path('admin_user_create') }}" class="btn btn-outline-success button-shrink">Ajouter un utilisateur</a>
</div>{% endblock %}