{% extends 'base.html.twig' %}

{% block title %}connexion!{% endblock %}

{% block body %}

<h1>Connectez-vous</h1>

<form method="post" class="row">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que 
  {{ app.user.userIdentifier }}, <a href="{{ path('logout') }}">Logout</a>
        </div>
    {% endif %}


			{% if error %}
			<div class="">
				<div class="my-3">
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				</div>
				<div class="dropdown-divider my-4"></div>
			</div>
			{% endif %}

			<div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4 my-3">
				<label for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
					autocomplete="email" required autofocus>
			</div>

			<div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4 my-3">
				<label for="inputPassword">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control"
					autocomplete="current-password" required>
			</div>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" class="btn btn-success">

			{#
			Uncomment this section and add a remember_me option below your firewall to activate remember me
			functionality.
			See https://symfony.com/doc/current/security/remember_me.html
			#}

			<div class="checkbox col-md-6 offset-md-3 col-lg-4 offset-lg-4 my-3">
				<label>
					<input type="checkbox" name="_remember_me"> Se souvenir de moi
				</label>
			</div>

			<div class=" col-md-6 offset-md-3 col-lg-4 offset-lg-4 my-3">
				<button class="buttonb text-decoration-none" type="submit">Connexion</button>

			</div>

</form>
	
	<div class="row">
		<div class="col-12">
			<div class="dropdown-divider my-4"></div>
		</div>
		<div class="my-3 text-center">
			<p>Pas encore de compte ? <a href="{{ path('register') }}">Inscrivez-vous</a> !</p>
		</div>
	</div>
	<div class="row">
		<div class="my-3 text-center">
			<p>Mot de passe perdu?<a href="{{ path('reset_password') }}">Réinitialiser votre mot de passe</a> !</p>
		</div>
	</div>


{% endblock %}
