<h1>Merci de confirmer votre adresse email</h1>

<p>Bonjour {{user.firstName}}!</p>

<p>
     Veuillez confirmer votre adresse email en cliquant sur le lien suivant : <a href="{{ signedUrl|raw }}">confirmer mon email</a>.

    Ce lien experera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>

<p><i>L'équipe {{contact_company}}</i></p>

{# <img src="{{ email.image('@images/logo/logo1.png') }}" alt="logo {{ contact_company }}"> #}