{% extends "Admin/baseAdmin.html.twig" %}

{% block title %}transporteurs
{% endblock %}

{% block body %}

<h1 class="pb-5 text-center">Liste des transporteurs</h1>

<table class="table table-hover table-sm text-center align-middle text-center">
	<thead class="table-dark">
		<tr>
			<th>N°</th>
			<th>Nom</th>
			<th>Montant</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for carrier in carriers|reverse %}
		<tr>
			<td>{{ loop.revindex }}</td>
			<td><img src="{{ asset('/img/carrier/' ~ carrier.image) }}" alt="logo {{ carrier.name }}" class="me-2">{{
				carrier.name }}</td>
			<td>{{ carrier.price|number_format(2, ',', ' ') }}
				€</td>
			<td>
				<a href="{{ path('carrier_update', {'carrier': carrier.id}) }}">
					<i class="bi bi-pencil-square text-primary"></i>
				</a>
				<a href="{{ path('carrier_delete', {'carrier': carrier.id}) }}"onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce produit?') || event.preventDefault()">
					<i class="bi bi-trash3 text-danger"></i>
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<div class="text-end mt-4">
	<a href="{{ path('carrier_create') }}" class="btn btn-outline-success button-shrink">Créer un transporteur</a>
</div>

{% endblock %}