{% extends 'base.html.twig' %}

{% block description %}{{ contact_company }} - votre nouvelle boutique de livres en ligne{% endblock %}

{% block title %}produits{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/home.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/pagination.css') }}">
{% endblock %}

{% block body %}

<div class="col-12">
	<div class="row">
		{% for product in products %}

		<div class="col-md-6 col-lg-4 col-xl-3">


			<div class="card h-100">

				{% if product.createdAt|date('Y-m-d') >= 'now'|date_modify('-20 days')|date('Y-m-d') %}
				<div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Nouveauté
				</div>
				{% endif %}
				<img class="card-img-top" src="{{ asset('/assets/uploads/products/mini/300x300-' ~ product.image[0].name )}}"
					alt="produit de {{ product.name }}" />

				<div class="card-body p-4">
					<div class="text-center">
						<h5 class="fw-bolder">{{ product.name }}</h5>
						<h6 id="text-des">{{ product.description|u.truncate(70,'...', false) }}</h6>
						{% if product.reduction == 0 %}

						<span class="">{{product.price|number_format(2, ',', ' ')}}
							€


						</span>


						{% else %}
						<span class="text-decoration-line-through text-danger">{{product.price|number_format(2, ',', '
							')}}

							€


						</span>


						<span>
							{{product.PriceSolde|number_format(2, ',', ' ')}}
							€
						</span>

						{% endif %}


					</div>
				</div>
				<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
					<div class="text-center">

						<a href="{{ path('product_show', {'slug': product.slug}) }}"
							class="card-link btn btn-outline-primary">Acheter</a>

						<a href="{{path('cart_add', {'id':product.id})}}"
							class="card-link btn btn-{{ product.quantity != 0 ? 'success' : 'danger disabled' }}">
							<i class="bi bi-cart-plus-fill"></i>
						</a>

						<a href="{{ path('favorite_add', {'id': product.id }) }}" class="card-link btn btn-danger"> <i
								class="bi bi-heart-fill"></i></a>

					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<div class="pagination-container">
	{% do products.setPageRange(1) %}
	{{ knp_pagination_render(products, 'partials/pagination.html.twig') }}

</div>

{% endblock %}