{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}catégories{% endblock %}

{% block body %}

<h1 class="pb-5 text-center">Liste de catégories</h1>

<table class="table table-hover table-sm text-center align-middle text-center">
    <thead class="table-dark">
        <tr>
            <th>N°</th>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories|reverse %}
        <tr>
            <td>{{ loop.revindex }}</td>
            <td><img src="{{ asset('img/category/' ~ category.image) }}" alt="image principale de la categorie {{ category.name }}" class="pe-3">
                {{ category.name }}</td>
            <td>
                <a href="{{ path('category_update', {'id': category.id}) }}"><i
                        class="bi bi-pencil-square text-primary"></i></a>
                <a href="{{ path('category_delete', {'id': category.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce produit?') || event.preventDefault()"><i
                        class="bi bi-trash3 text-danger"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<div class="text-end mt-4">
    <a href="{{ path('create_category') }}" class="btn btn-outline-success button-shrink">Créér une catégorie</a>
</div>
 


{% endblock %}