<h2>Coordonnées du contact</h2>

<ul>
	<li>Nom :
		{{ firstName ~ ' ' ~ lastName|upper }}</li>
	<li>Email :
		{{ emailAddress }}</li>
</ul>

<h2>Objet :
	{{ subject }}</h2>


<p>{{ message|nl2br}}</p>
br>
{# <img src="{{ email.image('@images/logo.png') }}" alt="logo {{ contact_company }}"> #}

