{% extends 'Admin/baseAdmin.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}


    <h1 class="pb-5 text-center">Liste des produits</h1>

    <table class="table table-hover table-sm text-center align-middle text-center">
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Reference</th>
                <th scope="col">Created_at</th>
                <th scope="col">Reduction</th>
                <th scope="col">PriceSold</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                
                <td>{{ product.id }}</td>
                <td class="text-start"><img src="{{ asset('/assets/uploads/products/mini/300x300-' ~ product.image[0].name )}}"
					alt="image principale du produit {{ product.name }}" class="pe-3">{{ product.name }}</td>
                <td>{{ product.description|u.truncate(50,'...', false) }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.reference }}</td>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.reduction }}</td>
                <td>{{ product.priceSold }}</td>
                <td>
                    <a href="{{ path('admin_product_show', {'slug': product.slug}) }}"><i class="bi bi-eye text-black-50"></i></a>
                    <a href="{{ path('admin_product_edit', {'id': product.id}) }}"><i class="bi bi-pencil-square "></i></a>
                    <a href="{{ path('admin_product_delete', {'id' : product.id})}}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce produit?') || event.preventDefault()"><i class="bi bi-trash text-danger"></i></a>
        
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Liste vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-end mt-4">

        <a href="{{ path('admin_product_create') }}" class="btn btn-outline-success button-shrink">Ajouter un produit</a>
    </div>
 
   
   

  

{% endblock %}
